.home{
	display: flex
	flex-wrap: wrap;
}

.in-flex{
	flex: 1;
	min-width: 250px;
}

.in-flex: first-child{
	flex: 2;
	padding: 25px;
	background-color: #fff;
	margin: 20px;
	margin-bottom: 0px;
}

.in-flex div{
	padding: 25px;
	background-color: #fff;
	margin: 20px;
}

#nombre {
    background-color: black;
    font-size: 1.5cm;
    text-align: center;
    color: whitesmoke;
}

#contacto {
	font-size: 0.5cm;
}

#cuerpo {
    background-color: lightblue;
}

#informacion {
	margin-left: 5cm;
	background-color: gray;
}

h2 {
	margin-left: 1cm;
	background-color: gray;
}
